
ul {
	float: right;
list-style-type: none;
}
ul li{
    display: inline-flex;
    position: right;
}
ul li a{

	text-decoration: none;
	background-color: #000;
	color:white;
	padding: 12px 30px;
	border: 1px solid #000;
	transition: 0.6s ease;
}
ul li a:hover{
	background-color: white;
	color: #000;

}
.logo img{
	float: left;
	width: 120px;
	height: auto;
}
